/* Mobile css */
@media screen and (max-width:576px) {
    .brand{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 20px;
    }
    #hamber_icon{
        display: block;
    }
    .menu{
        display: none;
    }
    .nav_shoping i,.hamber_icon i{
        display: block;
    }


    .banner_box{
        flex-direction: column;
        text-align: center;
    }
    .banner_content{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    
}


/* For medium devices */

@media screen and (min-width : 576px) and (max-width: 992px) {
    .menu_list ul{
        gap: 20px;
    }

    .banner_content{
        width: 70%;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .banner_images img{
        width: 100%;
    }
}