@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{

    --ligt-black : rgb(58, 58, 58);
    --white : rgb(255, 255, 255);
    --purple : rgb(224, 44, 109);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
header{
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
   
}
.nav_shoping i,.hamber_icon i {
    display: none;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.brand a {
    text-decoration: none;
}
.logo{
    font-size: 1.2rem;
    color: var(--ligt-black);
}

.menu_list ul{
    display: flex;
    gap: 0px 30px;
    align-items: center;
}
.menu_item{
    list-style: none;
}
.menu_link,.fa-magnifying-glass,.fa-cart-shopping{
    color: var(--ligt-black);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
}



/*********** banner ******************** */
.banner_section{
    padding: 50px 0px;
}
.banner_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_content{
    width: 50%;
}
.banner_title{
    font-size: 2.6rem;
    color: var(--ligt-black);
    font-weight: 600;
}
.banner_des{
    font-size: 1rem;
    color: var(--ligt-black);
    font-weight: 600;
    margin-bottom: 20px;
}
.banner_btn{
    text-decoration: none;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 30px;
    padding: 10px 24px;
}
.banner_images{
    background-image: url(../imges/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    
}
.banner_images img{
    width: 100%;
}